body {
    background-color: #f0eeed;
    color: black;
    font-family: 'Abel', sans-serif;
}

li {
    list-style-type: none;
}

.form-control, .jumbotron {
    background-color: #f0eeed;
    color: black;
}

#failed {
    color: red;
}

.p2 {
    width: 400px;
}

table {
    text-align: center;
    width: 33%;
}